body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.App {
  text-align: center;
}

/* HEADER */
.header {
  padding: 40px 20px;
  background: linear-gradient(90deg, #4f46e5, #06b6d4);
}

.header h1 {
  margin: 0;
  font-size: 36px;
}

.header p {
  margin-top: 10px;
  opacity: 0.8;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FORM */
.form {
  margin-top: 40px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 25px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

/* RESULT */
.result {
  margin-top: 40px;
  padding: 20px;
}

.question {
  background: #1e293b;
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
}